<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Why</h2>
                <hr class="light">
                <p class="text-faded">
                    We believe everyone should have the knowledge and power to take charge of their own health and wellbeing. 
                    Our mission is to connect you to the community that are just as passionate as you are. 
                    Be part of a community that values wellbeing and empower others. Journey with us to be the best version of youself.</p>
            </div>
        </div>
    </div>
</section>
