<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">We believe everyone should have the knowledge and power to take charge of their own health and wellbeing. We want to provide you with innovative tools to help you take the right steps forward. Whether you’re just starting or have been training for years, everyone deserves to have the knowledge on how to empower their health.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
