<section id="early-access" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="section-heading">Subscribe to get early access</h2>
        <hr class="primary">
      </div>
    </div>
    <form class="early-access-form form-inline text-center" action="{{ site.mailchimp.url }}" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
      <div class="form-group">
        <input type="email" value="" name="EMAIL" class="form-control email" id="mce-EMAIL" placeholder="Your email address" required>
      </div>
      <input type="submit" class="btn btn-primary btn-xl" value="Get Early Access" name="subscribe" id="mc-embedded-subscribe">
      <p><small class="text-muted">No worries, we hate spammers too.</small></p>
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <input type="text" name="b_e0fa8c8a8ce1f79772a4a25e9_b5bec5fe88" tabindex="-1" value="">
      </div>
    </form>
  </div>
</section>
