<section id="features" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading">Advance Your Well-being</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary"></i>
          <h3>Connect with Specialists</h3>
          <p class="text-muted">Build meaningful relationship with like-minded people</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-comments-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
          <h3>Join our community to Find Your Reason</h3>
          <p class="text-muted">Browse articles, ask health questions, review specialists</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>Contributions from Experts</h3>
          <p class="text-muted">Read experts’ advices on fitness, health and dieting</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-calendar-check-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <h3>Book an<br>Appointment</h3>
          <p class="text-muted">Search for an appointment, anytime. Book, connect and pay.</p>
        </div>
      </div>
    </div>
  </div>
</section>
